@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('./scrollBar.css');

ul, html{
    margin: 0px;
    padding: 0px;
}

body{
    /* Box */
    height: 100vh;
    margin: 0;
    background-color: #232228;
    color: #ececec;
    /* Text */
    font-family: 'Rubik', sans-serif;
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
